.header{
  background-image: linear-gradient(to bottom, #233653, #2c4f81);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px){
    justify-content: space-evenly;
  }
}
.Titulo{
  color: #fff;
  font-family:'Roboto', sans-serif;
  font-weight: bolder;
}
.logodoheader{
  width: 7.5vw;
  height: 15vh;
  margin-left: 4vw;
  @media(max-width: 768px){
    width: 15vw;
    height: 15vh;
    align-items: center;

  }
}