.footer{
  background-image: linear-gradient(to top, #233653, #2c4f81);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @media(max-width: 768px){
    justify-content: center;
  }
}
.footer2{
  color: #fff;
  font-family:'Roboto', sans-serif;
}
